<link rel="import" href="../../../async.html">
<link rel="import" href="../../../js-yaml.html">

<script>
  // eslint-disable-next-line no-unused-vars
  class AttireReader {
    constructor(isAnAttire) {
      this.FILENAME = "config.yml";
      this.BASE64_PREFIX = "data:image/png;base64,";
      this.isAnAttire = isAnAttire;
    }

    writeToZip(attire, zip, pathPrefix = "") {
      zip.file(pathPrefix + this.FILENAME, this._serialize(attire));

      attire.rules.forEach(rule => {
        if (rule.image) {
          const imageBase64 = rule.image.replace(this.BASE64_PREFIX, "");
          const pngContent = toBinary(imageBase64);
          zip.file(pathPrefix + rule.fileName, pngContent);
        }
      });
    }

    readFromZip(context, zip, callback) {
      const actions = ZipUtils.readAlphabetically(zip).filter(aFile => {
        return this.isAnAttire(aFile.relativePath);
      }).map(aFile => {
        const directory = aFile.relativePath.getPath();
        return this._processAttire.bind(this, context, aFile.zipEntry, zip, directory);
      });

      async.series(actions, callback);
    }

    _processAttire(context, zipEntry, zip, pathPrefix, callback) {
      const findImage = path => {
        const imageZipEntry = zip.files[pathPrefix + path];
        if (!imageZipEntry) callback("Missing file in attire: " + path);
        return imageZipEntry;
      };

      zipEntry.async("string").then(json => {
        const attire = this._deserialize(json);
        if (!attire || !attire.name || !attire.rules) return;

        const checkCompletion = () => {
          const everyRuleIsLoaded = _.every(attire.rules, { loaded: true });
          if (everyRuleIsLoaded) {
            this._setAttire(context, attire);
            callback();
          }
        };

        attire.rules.forEach(rule => {
          if (!rule.image && rule.text) {
            rule.loaded = true;
            checkCompletion();
            return;
          }

          rule.fileName = rule.image;

          findImage(rule.fileName).async("binarystring").then(content => {
            const imageBase64 = btoa(content);
            rule.image = this.BASE64_PREFIX + imageBase64;
            rule.loaded = true;

            checkCompletion();
          });
        });
      });
    }

    _setAttire(context, attire) {
      if (attire && attire.name && attire.rules)
        context.boards.addOrSetAttire(attire);
    }

    _serialize(attire) {
      return jsyaml.safeDump(this._transform(attire));
    }

    _deserialize(attire) {
      return jsyaml.safeLoad(attire);
    }

    _transform(attire) {
      const copy = _.cloneDeep(attire);
      copy.rules.forEach(rule => {
        rule.image = rule.fileName || null;
        delete rule.fileName;
        delete rule.loaded;
      });
      return _.omit(copy, ["enabled"]);
    }
  }
</script>
