<link rel="import" href="../../loader.html">
<link rel="import" href="attireReader.html">
<link rel="import" href="../../../jszip.html">

<script>
  // eslint-disable-next-line no-unused-vars
  class IndividualAttireLoader extends Loader {
    constructor() {
      super();

      this.FILENAME = "config.yml";

      this.reader = new AttireReader(relativePath => {
        return relativePath === this.FILENAME;
      });
    }

    save(context) {
      const attire = context.boards.availableAttires[context.boards.selectedAttire];
      if (!attire) return;

      const zip = new JSZip();
      this.reader.writeToZip(attire, zip);

      zip.generateAsync({ type: "blob" }).then(content => {
        this._saveBlob(content, `${attire.name}.zip`);
      });
    }

    read(context, event, callback) {
      const { file } = this._readLocalFile(event);

      JSZip.loadAsync(file).then(zip => {
        this.reader.readFromZip(context, zip, callback);
      });
    }
  }
</script>
