<link rel="import" href="attireReader.html">

<script>
  class ProjectAttireLoader {
    constructor(pathPrefix) {
      this.FILENAME = "config.yml";

      this.reader = new AttireReader(relativePath => {
        return _.includes(relativePath, "/") && _.endsWith(relativePath, `/${this.FILENAME}`);
      });
      this.pathPrefix = pathPrefix;
    }

    writeToZip(context, zip) {
      const attires = context.boards.availableAttires;
      attires.forEach(attire => {
        this.reader.writeToZip(attire, zip, `${this.pathPrefix}${attire.name}/`);
      });
    }

    readFromZip(context, zip, callback) {
      this.reader.readFromZip(context, zip, callback);
    }
  }
</script>
