<link rel="import" href="attireReader.html">

<script>
  class ProjectAttireLoader {
    constructor() {
      this.reader = new AttireReader();
    }

    writeToZip(context, zip) {
      zip.file("coming_soon", "coming");
      zip.file("in", "coming");
      zip.file("the_best_cinemas", "coming");
      // TODO: Obtener vestimentas y llamar a attireReader por cada una
    }

    readFromZip(context, zip) {
      this.reader.readFromZip(context, zip, _.noop);
      // TODO: Leer zip y por cada carpeta dentro de attires, llamar a readFromZip por cada una con el path
    }
  }
</script>
