<link rel="import" href="../loader.html">
<link rel="import" href="mixins/singleFileComponent.html">

<script>
  class CoverLoader extends Loader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);
      this.FILENAME = "cover.png";
      this.BASE64_PREFIX = "data:image/png;base64,";
    }

    buildContent(context) {
      if (!context.editor.cover) return null;

      return toBinary(context.editor.cover.replace(this.BASE64_PREFIX, ""));
    }

    readContent(context, content) {
      context.editor.cover = this.BASE64_PREFIX + btoa(content);
    }
  }
</script>
