<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">

<script>
  // eslint-disable-next-line no-unused-vars
  class DescriptionTeacherLoader extends TextLoader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);
      this.FILENAME = "description.md";
    }

    buildContent(context) {
      return context.editor.getDescription();
    }

    readContent(context, content) {
      context.editor.setDescription(content);
    }
  }
</script>
