<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">
<link rel="import" href="../../parser.html">

<script>
  class FinalBoardLoader extends TextLoader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);
      this.FILENAME = "finalBoard.gbb";
    }

    buildContent(context) {
      const panel = context.boards;
      if (!panel.finalState) return null;
      return new Parser().buildGbb(panel.finalState, panel.size);
    }

    readContent(context, content) {
      throw new Error("This method should not be called (write-only loader)");
    }
  }
</script>
