<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">
<link rel="import" href="../../parser.html">

<script>
  class InitialBoardLoader extends TextLoader {
    constructor() {
      super();
      this.SUFFIX = ".board.gbb";
    }

    buildContent(context) {
      const panel = context.boards;
      return new Parser().buildGbb(panel.initialState, panel.size);
    }

    getFile(context) {
      const panel = context.boards;
      return panel.availableInitialStates.map((initialBoard, i) => {
        return {
          name: `Board${i + 1}${this.SUFFIX}`,
          content: new Parser().buildGbb(initialBoard, panel.getSizeOf(initialBoard))
        }
      });
    }

    readContent(context, content) {
      const panel = context.boards;
      const board = new Parser().readGbb(content);
      const initialState = panel.initialState;

      panel.addInitialState({
        header: { x: board.x, y: board.y },
        table: board.toView()
      });
    }

    readProjectContent(context, content) {
      this.readContent(context, content);
    }

    shouldHandle(path) {
      return _.endsWith(path, this.SUFFIX);
    }
  }
</script>
