<link rel="import" href="../textLoader.html">

<script>
  // eslint-disable-next-line no-unused-vars
  class InitialBoardLoader extends TextLoader {
    constructor() {
      super();
      this.SUFFIX = ".gbb";
    }

    getFiles(context) {
      const panel = context.boards;
      const files = panel.availableInitialStates.map((initialBoard, i) => {
        return {
          name: `assets/boards/Board${i + 1}${this.SUFFIX}`,
          content: new Parser().buildGbb(initialBoard, panel.getSizeOf(initialBoard))
        };
      });

      return files.splice(panel.selectedInitialState, 1).concat(files);
    }

    readContent(context, content) {
      const panel = context.boards;
      const board = new Parser().readGbb(content);

      panel.addInitialState({
        header: { x: board.head.x, y: board.head.y },
        table: board.table
      });
    }

    readProjectContent(context, content) {
      this.readContent(context, content);
    }

    shouldHandle(path) {
      return _.endsWith(path, this.SUFFIX);
    }
  }
</script>
