<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">

<script>
  class MetadataLoader extends TextLoader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);

      this.SUFFIX = ".json";
      this.shouldHandle = (path) => {
        return !_.includes(path, "/") && _.endsWith(path, this.SUFFIX);
      };

      this.SPEED_NAMES = ["low", "medium", "high", "instantaneous"];
      this.RANDOM_SOURCE = "random";
      this.SELECTED_SOURCE = "selected";
    }

    buildContent(context) {
      return JSON.stringify({
        name: context.getProjectName(),
        type: context.ide.projectType,
        library: {
          visible: true // TODO: Deshardcodear
        },
        board: {
          active: context.boards.selectedInitialState + 1,
          initial_board_source: context.editor.runner.useRandomBoard ? this.RANDOM_SOURCE : this.SELECTED_SOURCE,
          //visible_edition: true, // TODO: Hacer esto (posibilidad de ocultar parte de edición de tableros)
          user_permissions: { // TODO: Deshardcodear
            can_change_source: true,
            can_edit_board: true
          }
        },
        execution_speed: {
          active: this.SPEED_NAMES[context.editor.runner.speed - 1],
          user_permissions: {
            can_change_speed: true // TODO: Deshardcodear
          }
        },
        attire: {
          active: context.boards.attire != null
            ? context.boards.attire.name
            : null,
          visible: context.boards.showAttire,
          user_permissions: {
            can_toggle_visibility: true // TODO: Deshardcodear
          }
        }
      }, null, 2);
    }

    readContent(context, content, fileName) {
      const metadata = JSON.parse(content);
      // TODO: Leer las cosas que faltan

      context.setProjectName(metadata.name);
      context.boards.selectedInitialState = metadata.board.active - 1;
      context.editor.runner.useRandomBoard = metadata.board.initial_board_source === this.RANDOM_SOURCE;

      const speed = this.SPEED_NAMES.indexOf(metadata.execution_speed.active) + 1;
      context.editor.runner.speed = speed === 0 ? 4 : speed;

      context.boards.setAttire(metadata.attire.active);
      context.boards.showAttire = metadata.attire.visible;

      // TODO: Ver que al mostrar no quede en blanco toda la vestimenta
    }
  }
</script>
