<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">
<link rel="import" href="../../js-yaml.html">

<script>
  class MetadataLoader extends TextLoader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);

      this.FILENAME = "meta.yml";

      this.SPEED_NAMES = ["low", "medium", "high", "superhigh", "instantaneous"];
      this.RANDOM_SOURCE = "random";
      this.SELECTED_SOURCE = "selected";
    }

    buildContent(context) {
      return jsyaml.safeDump({
        name: context.getProjectName(),
        library: {
          visible: context.toolbar.permissions.can_use_library
        },
        source: {
          visible: context.boards.showCode,
          percentage: +window.STORAGE.getItem("code-panel-percentage")
        },
        board: {
          active: context.boards.selectedInitialState + 1,
          initial_board_source: context.editor.runner.useRandomBoard ? this.RANDOM_SOURCE : this.SELECTED_SOURCE,
          visible_edition: context.boards.permissions.can_view_edition_panel,
          collapse_toolbox: !context.boards.isToolboxVisible,
          user_permissions: {
            can_change_initial_board: context.boards.permissions.can_change_initial_board,
            can_change_initial_board_source: context.editor.runner.permissions.can_change_source,
            can_edit_board: context.boards.permissions.can_edit_board,
            can_view_size_section: context.boards.permissions.can_view_size_section,
            can_view_attire_section: context.boards.permissions.can_view_attire_section
          }
        },
        execution_speed: {
          active: this.SPEED_NAMES[context.editor.runner.speed - 1],
          user_permissions: {
            can_change_speed: context.editor.runner.permissions.can_change_speed
          }
        },
        attire: {
          active: context.boards.attire != null
            ? context.boards.attire.name
            : null,
          visible: context.boards.showAttire,
          user_permissions: {
            can_toggle_visibility: context.boards.permissions.can_toggle_attire_visibility
          }
        },
        blocks: context.editor.toolbox
      }, { skipInvalid: true });
    }

    readContent(context, content, fileName) {
      const metadata = jsyaml.safeLoad(content);

      context.boards.initializeBoards();

      // defaults
      if (!metadata.source) metadata.source = { visible: true, percentage: context.boards.stylist.DEFAULT_PERCENTAGE };

      // name
      context.setProjectName(metadata.name);

      // board
      context.boards.selectedInitialState = metadata.board.active - 1;
      context.editor.runner.useRandomBoard = metadata.board.initial_board_source === this.RANDOM_SOURCE;
      context.boards.setShowCode(metadata.source.visible);
      window.STORAGE.setItem("code-panel-percentage", metadata.source.percentage);
      if (metadata.source.visible) context.ide.resizeLeftPanel(true);

      // execution_speed
      const speed = this.SPEED_NAMES.indexOf(metadata.execution_speed.active) + 1;
      context.editor.runner.speed = speed === 0 ? 4 : speed;

      // permissions
      context.toolbar.set("permissions.can_use_library", metadata.library.visible);
      context.menu.set("permissions.can_use_library", metadata.library.visible);
      context.boards.set("permissions.can_view_edition_panel", metadata.board.visible_edition);
      context.boards.toggleToolbox(!metadata.board.collapse_toolbox);
      context.editor.runner.set("permissions.can_change_source", metadata.board.user_permissions.can_change_initial_board_source);
      context.boards.set("permissions.can_change_initial_board", metadata.board.user_permissions.can_change_initial_board);
      context.boards.set("permissions.can_edit_board", metadata.board.user_permissions.can_edit_board);
      context.boards.set("permissions.can_view_size_section", metadata.board.user_permissions.can_view_size_section !== false);
      context.boards.set("permissions.can_view_attire_section", metadata.board.user_permissions.can_view_attire_section !== false);
      context.editor.runner.set("permissions.can_change_speed", metadata.execution_speed.user_permissions.can_change_speed);
      context.boards.set("permissions.can_toggle_attire_visibility", metadata.attire.user_permissions.can_toggle_visibility);

      // attire
      setTimeout(() => {
        // wait for gs-board to fire "board-changed" and update the model
        context.boards.setAttire(metadata.attire.active);
        context.boards.showAttire = metadata.attire.visible;
      }, 0);

      if (metadata.blocks) context.editor.toolbox = metadata.blocks;
    }
  }
</script>
