<link rel="import" href="../textLoader.html">
<link rel="import" href="mixins/singleFileComponent.html">

<script>
  // eslint-disable-next-line no-unused-vars
  class TeacherLoader extends TextLoader {
    constructor() {
      super();
      _.defaults(this, SingleFileComponent);
      this.FILENAME = "extra.gbs";
    }

    buildContent(context) {
      return context.editor.code.teacher;
    }

    readContent(context, content) {
      this._setCode(context, content, "teacher");
    }

    prependContent(context, content) {
      const finalContent = `${content}\n${context.editor.code.teacher}`;
      this._setCode(context, finalContent, "teacher");
    }
  }
</script>
